<body>
    <div data-role="view" data-title="Add Image" data-model="listview">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <button class="nav-button" data-align="left" data-role="backbutton">Cancel</button>
                
                <button class="nav-button" data-align="right" data-bind="click: addImage">Add</button>
            </div>
        </header>
        <ul id="images" ></ul>
    </div>
</body>
