<body>
    <div data-role="view" data-title="Add Image" data-model="listview">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <button class="nav-button" data-align="left" data-role="backbutton">Cancel</button>

                <button class="nav-button" data-align="right" data-bind="click: addImage">Add</button>
            </div>
        </header>
        <div id="images" >
            <div class="relative-image">
                <img id="picture" class="picture" src='styles/images/White-7-F.png' data-bind="click: addImage"width="100%">
            </div>
            <div id="images" >
                <div class="absolute-image">
                    <img id="print" src='styles/images/default-image.jpg' width="100%">
                </div>
            </div>
        </div>
    </div>
</body>
